@charset "utf-8";
/*css Document*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 12px;
}

body{
    color: #98605E;
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    background: #FFE2E2;
    font-weight: 400;
    font-style: normal;
}

p{
    line-height: 17px;
}

header{
    border-bottom: 2px solid #98605E;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    display: flex;
}

li{
    text-align: center;
    list-style-type: none;
    border-right: 2px solid #98605E;
    height: 70px;
    align-content: center;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

h1, h2, h3{
    font-family: "Luxurious Script";
    font-weight: 400;
}

.bienv{
    padding: 15% 0% 350px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/bienv.png) 0px / 100% no-repeat;
    align-content: stretch;
    background-position-x: center;
    background-position-y: top;
    max-height: 1039px;
}

h1{
    font-size: 7.5rem;
    width: 406px;
    line-height: 71%
}

.bienv div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bienv p{
    padding-left: 21px;
}

h3{
    font-size: 46px;
}

.introsobremi{
    display: flex;
    justify-content: center;
    margin-bottom: 146px;
}

.introsobremi div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 340px;
    gap: 5px;
    padding-left: 40px;
    justify-content: center
}

.introtrab{
    padding-top: 81px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 100px;
    background-color: #D5DED9;
    border-top: 2px solid #98605E;
}

.introtrab a{
    color: #D5DED9;
}

.introtrab p{
    padding-bottom: 11px;
}

.botonrelleno{
    padding: 6px 14px 6px 14px;
    border-radius: 50px;
    border: 2px solid #98605E;
    background: #98605E;
    color: #FFE2E2;
}

.botonborde{
    padding: 4px 9px 4px 9px;
    border-radius: 50px;
    border: 2px solid #98605E;
    margin-top: 14px;
}

.hablemos{
    background: url(img/hablemos.png) 0px / 100% no-repeat;
    height: 363px;
    align-content: center;
    padding-bottom: 83px;
}

.hablemos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-right: 15%;
}

.hablemos p{
    text-align: center;
    width: 274px;
    padding-bottom: 20px;
}

footer{
    border-top: 2px solid #98605E;
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
}

footer p{
    width: 250px;
}

footer div{
    display: flex;
    width: 215px;
    justify-content: space-between;
}

h4{
    font-size: 0.85rem;
    line-height: 1.20rem;
    font-weight: 400;
}

.sobremi{
    background-color: #D5DED9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
}

.sobremi div{
    width: 272px;
    display: inline-block;
    padding-left: 40px;
}

.sobremi p{
    line-height: 1.5rem;
}


/*acá empieza el grid
.datosrandom{
    padding: 50px 70px 50px 70px;
}

.datosrandom div{
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-evenly;
}

.dato{
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

acá terimna el grid*/

.grid-container{
    display: grid;
    background-color: rgb(242, 245, 213);
    grid-template: 190px / repeat(4, 200px);
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: end;
}

.grid-item{
    text-align: center;
    width: 128px;
}

.grid-container div{
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.c{
    width: 172px;
    display: flex;
    flex-direction: column;
}

.grid-container h4{
    padding-top: 20px;
}